.App {
  text-align: center;
}

body,
html,
#root {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

p {
  line-height: 30px;
}
